@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
@import url("components/container.css");
@import url("components/button.css");
@import url("components/avatar.css");
@import url("components/card.css");
@import url("components/navbar.css");
@import url("components/banner.css");

body {
	background-color: #D3E4CD;
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
}

h3 {
	font-weight: 100;
}


@media(min-width : 576px) and (max-width: 767px){
	.card-white{ width: 540px}
	}
@media (max-width : 575){
	.card-white {
		margin: 0
	}
}

.text-strong {
	font-weight: 700;
}